<!DOCTYPE html>
<html class="dark" style="color-scheme: dark;">
<head>
  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Dzubayyan Ahmad's Resume">
  <meta name="twitter:description" content="Senior Technical Support Specialist Resume">
  <meta name="twitter:image" content="https://masdzub.com/assets/masdzub.jpg">

  <meta property="og:title" content="Dzubayyan Ahmad's Resume">
  <meta property="og:description" content="Senior Technical Support Specialist Resume">
  <meta property="og:image" content="https://masdzub.com/assets/masdzub.jpg">
  <meta property="og:url" content="https://masdzub.com">

  <meta name="description" content="Dzubayyan Ahmad's Senior Technical Support Specialist Resume">
  <meta name="keywords" content="resume, technical support, specialist, Dzubayyan Ahmad, skills, experiences, education">
  <meta name="author" content="Dzubayyan Ahmad">
  <meta name="theme-color" content="#1a202c">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="./assets/styles.css">
  <!-- Add Vue.js from CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <title>Resume</title>
  <link rel="icon"  href="https://www.gravatar.com/avatar/509d3b6019d078eb39f42d51e7024abc?s=50" >
  <link rel="manifest" href="/manifest.json">

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js');
    }
    window.addEventListener('load', function () {
      // Hide the preloader when the page is fully loaded
      const preloader = document.querySelector('.preloader');
      preloader.style.display = 'none';
    });
  </script>

</head>
<body class="dark:ring-offset-gray-900">
  <!-- Add the preloader HTML -->
  <div class="preloader">
    <div class="loader"></div>
  </div>
  <div class="container mx-auto p-4 subpixel-antialiased">

    <button class="toggle-button" id="theme-toggle">
      <i class="far fa-moon"></i>
    </button>

    <main class="mb-12">
      <div id="app">
        <!-- Content -->
        <div class="section mt-2">
          <div class="flex items-center justify-center">
            <div class="m-2 text-right">
              <h1 class="text-2xl md:text-3xl font-extrabold tracking-tight">{{ fullName }}</h1>
              <h2 class="text-xs uppercase font-bold text-green-500">{{ jobTitle }}</h2>
              <div class="mt-2 text-xs text-gray-500 md:hidden">
                <div>{{ email }}</div>
                <div class="tabular-nums">{{ phoneNumber }}</div>
                <div><a :href="website" target="_blank">{{ website }}</a></div>
              </div>
            </div>
            <div class="relative flex my-2 mx-4">
              <a class="relative z-10" :href="website" target="_blank">
                <img class="w-20 h-20 md:w-16 md:h-16 rounded-full ring-4 ring-green-400 ring-offset-2 dark:ring-offset-gray-900" :src="gravatarURL" alt="Profile Image">
              </a>
              <div class="absolute inline-flex w-20 h-20 md:w-16 md:h-16 rounded-full ring-8 ring-green-400 animate-ping opacity-20"></div>
            </div>
            <div class="ml-2 mb-2 md:mb-0 text-xs text-gray-500 hidden md:block">
              <div>{{ email }}</div>
              <div class="tabular-nums">{{ phoneNumber }}</div>
              <div><a :href="website" target="_blank">{{ website }}</a></div>
            </div>
          </div>
          <div class="text-sm text-center italic text-gray-400 mt-2">{{ description }}</div>
        </div>


        <div class="section">
          <h2 class="text-2xl font-light mb-4 flex">
            <span class="mr-2 mt-1 text-gray-400">
              <span class="mr-2 mt-1 text-gray-400">
                <i class="fa-solid fa-terminal fa-beat fa-xs"></i>
              </span>
            </span>
            <span class="border-b-4 border-green-400 pb-1">Skills</span>
          </h2>
          <div class="md:flex justify-between pl-4">
            <!-- Vue will render skills here -->
            <div v-for="(skills, category) in skillsData" :key="category" class="md:w-1/3 px-4 mb-4 md:mb-0">
              <h3 class="text-xs font-semibold uppercase mb-1">{{ category }}</h3>
              <span v-for="skill in skills" :key="skill" class="inline-flex mr-2 text-xs font-semibold text-opacity-70 text-black border px-1 rounded border-purple-100 bg-purple-50 dark:border-gray-900 dark:bg-gray-600">{{ skill }}</span>
            </div>
          </div>
        </div>

        <div class="section">
          <h2 class="text-2xl font-light mb-4 flex">
            <span class="mr-2 mt-1 text-gray-400">
              <i class="fa-solid fa-flask fa-beat fa-xs"></i>
            </span>
            <span class="border-b-4 border-green-400 pb-1">Experiences</span>
          </h2>
          <div class="pl-8">
            <!-- Experiences will be rendered here -->
            <div v-for="(experience, index) in experiences" :key="index" class="mb-4 pl-4 border-l-4 border-green-100 dark:border-green-200">
              <div class="tracking-tight flex items-baseline justify-between">
                <div>
                  <span class="font-extrabold mr-1">{{ experience.title }}</span>
                  <small class="text-gray-500 font-medium italic">
                    <a :href="experience.companyLink" target="_blank">{{ experience.company }}</a>
                  </small>
                </div>
                <span class="text-xs text-gray-400 font-mono md:w-auto w-12 text-center ml-2">
                  <span class="block md:inline">{{ experience.startDate }}</span>
                  <span class="px-1 hidden md:inline">-</span>
                  <span>{{ experience.endDate === 'Present' ? 'Present' : experience.endDate }}</span>
                </span>
              </div>
              <p class="text-sm mt-1 text-gray-600 dark:text-gray-500 w-3/4">{{ experience.description }}</p>
            </div>
          </div>
        </div>

        <div class="section">
          <h2 class="text-2xl font-light mb-4 flex">
            <span class="mr-2 mt-1 text-gray-400">
              <i class="fa-solid fa-certificate fa-beat fa-xs"></i>
            </span>
            <span class="border-b-4 border-green-400 pb-1">Certifications</span>
          </h2>
          <div class="pl-8">
            <!-- Certification items -->
            <div v-for="(certification, index) in certifications" :key="index" class="mb-4 pl-4 border-l-4 border-gray-200 dark:border-gray-600">
              <div class="tracking-tight flex items-baseline justify-between">
                <div>
                  <span class="font-extrabold mr-1">{{ certification.title }}</span>
                  <small class="text-gray-500 font-medium italic">
                    @
                    <a :href="certification.validationLink" target="_blank" class="underline">Validation Link</a>
                  </small>
                </div>
                <span class="text-xs text-gray-400 font-mono md:w-auto w-12 text-center ml-2">
                  <span class="block md:inline">{{ certification.startDate }}</span>
                  <span class="px-1 hidden md:inline">-</span>
                  <span>{{ certification.endDate === 'Now' ? 'Now' : certification.endDate }}</span>
                </span>
              </div>
              <p class="text-sm mt-1 text-gray-400 dark:text-gray-600 w-3/4">{{ certification.description }}</p>
            </div>
          </div>
        </div>

        <div class="section">
          <h2 class="text-2xl font-light mb-4 flex">
            <span class="mr-2 mt-1 text-gray-400">
              <i class="fa-solid fa-graduation-cap fa-beat fa-xs"></i>
            </span>
            <span class="border-b-4 border-green-400 pb-1">Education</span>
          </h2>
          <div class="pl-8">
            <!-- Education items -->
            <div v-for="(education, index) in educations" :key="index" class="mb-4 pl-4 border-l-4 border-gray-200 dark:border-gray-600">
              <div class="tracking-tight flex items-baseline justify-between">
                <div>
                  <span class="font-extrabold mr-1">{{ education.field }}</span>
                  <small class="text-gray-500 font-medium italic">@ {{ education.institution }}</small>
                </div>
                <span class="text-xs text-gray-400 font-mono md:w-auto w-12 text-center ml-2">
                  <span class="block md:inline">{{ education.startDate }}</span>
                  <span class="px-1 hidden md:inline">-</span>
                  <span>{{ education.endDate }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <h2 class="text-2xl font-light mb-4 flex">
            <span class="mr-2 mt-1 text-gray-400">
              <i class="fa-solid fa-headset fa-beat fa-xs"></i>
            </span>
            <span class="border-b-4 border-green-400 pb-1">Interests</span>
          </h2>
          <div class="pl-8 text-sm text-gray-400 dark:text-gray-900">
            <span v-for="(interest, index) in interests" :key="index" :class="getInterestClasses(index)">{{ interest }}</span>
          </div>
        </div>

      </div>
    </main>
  </div>

  <script src="./assets/data.js"></script>
  <script src="./assets/darkmode.js"></script>

</body>
</html>